/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.space-around {
  padding: 0 4%;
  margin: 2% 2%;
}
.display-flex {
  display: flex;
  justify-content: space-between;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  border: 5px solid yellow;
  margin: 5%;
}
body {
  height: 100%;
  font-family: 'Questrial', sans-serif;
  margin: 5%;
  background: paleyellow;
}
nav {
  display: flex;
  justify-content: space-between;
}
nav a {
  text-decoration: none;
  font-size: 2rem;
  padding: 2% 0;
}
@media screen and (max-width: 500px) {
  nav {
    flex-direction: column;
    align-items: center;
    padding: 0 4%;
    margin: 2% 2%;
    justify-content: center;
  }
}
h1,
h2 {
  color: dodgerblue;
  font-family: 'Concert One', cursive;
  padding: 3% 0;
}
h1 {
  font-size: 4.5rem;
  text-align: center;
}
.about img {
  width: 76vw;
  height: 24vh;
}
.about p {
  padding: 0 4%;
  margin: 2% 2%;
  font-size: 2rem;
}
#main-content img {
  width: 25vw;
  height: 25vh;
}
h2 {
  font-size: 3rem;
}
ul {
  font-size: 2rem;
  line-height: 1.5;
}
h3 {
  color: black;
  font-family: 'Concert One', cursive;
}
#main-content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
}
#main-content div {
  width: 45%;
}
@media screen and (max-width: 500px) {
  #main-content {
    align-items: center;
    justify-content: center;
  }
}
#contact {
  font-size: 1.5rem;
  width: 35%;
}
#big-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#big-box #work-box #work {
  width: 85%;
}
#work-content #work {
  font-size: 2rem;
}
footer address {
  font-size: 2rem;
}
footer p {
  font-size: 2rem;
  padding: 0 4%;
  margin: 2% 2%;
}
